<main>
  <mat-toolbar color="primary">
   <h1>Amit Demo Application</h1>
  </mat-toolbar>
  <div class="form-body" class="form">
    <form autocomplete="on" [formGroup]="simpleAppForm" id="mainForm" (ngSubmit)="onCreate(simpleAppForm.value)">
      <div>
        <label>Name: </label>
        <input type="text" formControlName="name" autocomplete="off"
           id="name" required maxlength="30" minlength="2" 
          ngModel name="name" >    
      </div>
      <div>
        <label>Description: </label>
        <input type="text" formControlName="description" autocomplete="off" 
          minlength="4" required="true">
      </div>
      <div>
        <label>City: </label>
        <input type="text" formControlName="city" id="city" autocomplete="off" 
          minlength="4" required="true">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

<!-- Out message in case of an input issue -->
<div *ngIf="messageAfterSubmit">
  <div *ngIf="simpleAppForm.controls['name'].errors.required">
    Name is required.
  </div>
  <div *ngIf="simpleAppForm.controls['name'].errors.maxlength">
    Name cannot be more than 30 characters long.
  </div>
  <div *ngIf="simpleAppForm.controls['name'].errors.minlength">
    Name must be at least 2 characters long.
  </div>
  <div *ngIf="simpleAppForm.controls['description'].errors.required">
    description is required.
  </div>
  <div *ngIf="simpleAppForm.controls['description'].errors.minlength">
    description must be at least 2 characters long.
  </div>
  <div *ngIf="simpleAppForm.controls['city'].errors.required">
    city is required.
  </div>
  <div *ngIf="simpleAppForm.controls['city'].errors.minlength">
    city must be at least 2 characters long.
  </div>
</div>

  <div *ngFor="let restaurant of restaurants" class="content">
    <div>{{ restaurant.city }}</div>
    <div>{{ restaurant.name }}</div>
    <div>{{ restaurant.description }}</div>
  </div>

</main>